/* Login.css */

.login-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input:focus {
    border-color: #44a8db;
}

.error {
    color: red;
    font-size: 0.875em;
    margin-bottom: 10px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #44a8db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.login-form button:hover {
    background-color: #3178b7;
}

.login-form button:disabled {
    background-color: #ccc;
    cursor: default;
}


.register-link {
    margin-top: 15px;
    text-align: center;
}

.register-link a {
    color: #44a8db;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
